[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
pygame = "*"
cython = "*"
matplotlib = "*"
scipy = "*"
pillow = "*"
imutils = "*"
"h5py" = "*"
requests = "*"
"progressbar2" = "*"
scikit-learn = "*"
scikit-image = "*"

[requires]
python_version = "3.6"
